venv/
logs/

run_nodes*
stop_nodes*
__pycache__
README.md
temp_file*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets


.history/


*.vsix